
<title>Post Comment</title>
<form id="frmMasterPost" method="post">

    <input type="hidden" id="Id" />
    

    <div class="row">
        <div class="col-md-12">
       
           <table class="table" id="PostTable"></table>
        </div>
    </div>


</form>

@section Scripts {
    <script src="~/PageScript/Common/PostComment.js"></script>
}
